.faqs__employee {
  display: flex;
  align-items: flex-end;
  padding-block-start: var(--gap-152);
  position: relative;
}
.faqs__employee img {
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 50%;
  border: 5px solid var(--bg-color);
  position: relative;
}
.faqs__employee img:nth-of-type(2) {
  width: 100px;
  z-index: 5;
}
.faqs__employee img:nth-of-type(1),
.faqs__employee img:nth-of-type(3) {
  width: 80px;
}
.faqs__employee img:nth-of-type(1) {
  left: 2rem;
}
.faqs__employee img:nth-of-type(3) {
  right: 2rem;
}

.faqs__svg-heart {
  bottom: -1rem;
  left: calc(clamp(2rem, 5vw, 5rem) * -1);
}

.faqs__extra-info {
  max-width: 60rem;
  text-align: center;
  font-size: clamp(var(--font-18), 2vw, var(--font-24));
  padding-block-start: var(--gap-48);
}
