.nav-bar__settings-menu {
  display: none;
  flex-direction: column;
  row-gap: var(--gap-24);
  position: absolute;
  top: calc(var(--gap-36) / 2 + var(--size-48));
  right: calc(var(--size-48) / 2);
  padding: var(--gap-24);
  border-radius: var(--border-corner-8);
  z-index: 100;
}

.nav-bar__settings-menu.show {
  display: flex;
}

.nav-bar__settings-group {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-24);
  position: relative;
  padding: var(--gap-24) var(--gap-16);
  border: 1px solid var(--grey-light);
  border-radius: var(--border-corner-4);
}

.nav-bar__settings-group-title {
  padding-inline: 0.5rem;
  background-color: var(--bg-color);
  color: var(--grey-dark);
  font-weight: bold;
  font-size: var(--font-14);
}

.nav-bar__settings-item {
  min-width: 175px;
  display: flex;
  align-items: center;
  column-gap: var(--gap-12);
  cursor: pointer;
}
/* HIDE INPUTS */
.theme input {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.nav-bar__settings-icon {
  grid-column: 4;
}
.nav-bar__settings-icon.lang {
  width: 4rem;
  aspect-ratio: 4 / 3;
}

.nav-bar__settings-icon.theme {
  width: 4rem;
  height: 3rem;
  aspect-ratio: 4 / 3;
  position: relative;
  border-radius: 0.75rem;
  border: 2px solid var(--grey-light);
}
.nav-bar__settings-icon span {
  width: 24px;
  height: 6px;
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  background-color: var(--grey);
  border-radius: 50px;
}
.nav-bar__settings-icon span::after,
.nav-bar__settings-icon span::before {
  content: '';
  height: 3px;
  position: absolute;
  background-color: inherit;
  border-radius: inherit;
}
.nav-bar__settings-icon span::after {
  width: 40px;
  top: 0.65rem;
}
.nav-bar__settings-icon span::before {
  width: 24px;
  top: 1.115rem;
}
.nav-bar__settings-icon.light {
  background-color: var(--bg-color);
}
.nav-bar__settings-icon.dark {
  background-color: var(--black);
}
.nav-bar__settings-icon.auto {
  background: linear-gradient(-115deg, white 50%, black 50%);
}
.nav-bar__settings-icon.auto span,
.nav-bar__settings-icon.auto span::after,
.nav-bar__settings-icon.auto span::before {
  mix-blend-mode: difference;
}

.nav-bar__settings-name {
  flex-grow: 1;
  font-size: var(--font-18);
  font-weight: 400;
  color: var(--grey-dark);
  text-transform: capitalize;
}

.nav-bar__settings-radio-button {
  --dot-width: 2rem;
  width: var(--dot-width);
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
  border: 2px solid var(--primary-dark);
  outline: 2px solid var(--primary-dark);
  contain: paint;
  isolation: isolate;
}
.dot {
  width: var(--dot-width);
  aspect-ratio: 1;
  position: absolute;
  inset: -2px;
  border-radius: 50%;
  border: inherit;
  filter: url('#goo');
}

.dot::after,
.dot::before {
  content: '';
  width: 0.75rem;
  aspect-ratio: 1;
  position: absolute;
  inset: 0.5rem;
  background-color: var(--primary-dark);
  border-radius: inherit;
  z-index: 2;
}
.dot::after {
  transform: translateY(-1.7rem) scale(0.3);
  transition: transform var(--transition-03) cubic-bezier(0, 0.89, 0.78, 0.5);
}
.dot::before {
  transform: translateY(-1.7rem) scale(0.7);
  transition: transform var(--transition-03) cubic-bezier(0.61, 0.17, 0.35, 0.95);
}

input[type='radio']:checked ~ .nav-bar__settings-radio-button .dot::after {
  transform: translateY(0) scale(1);
}
input[type='radio']:checked ~ .nav-bar__settings-radio-button .dot::before {
  transition-delay: 0.1s;
  transform: translateY(0) scale(1.1);
}
input[type='radio']:checked ~ .nav-bar__settings-name {
  color: var(--primary-dark);
}
