.phone.phone-hero {
  grid-column: 8 / -2;
  grid-row: 1 / span 5;
  align-self: center;
}

@media (max-width: 960px) {
  .phone.phone-hero {
    grid-column: 1 / -1;
    grid-row: 6;
    inline-size: clamp(260px, 40vw, var(--phone-width-360));
    margin-block-start: 30svh;
  }
}

@media screen and (max-width: 559px) {
  .hero {
    padding-block: var(--gap-80) var(--gap-128);
  }
}

@import url(./left-side.css);
