.header__settings-menu {
  flex-direction: column;
  row-gap: var(--gap-24);
  position: absolute;
  right: 0;
  top: calc(var(--gap-36) * 1.2 + var(--button-settings));
  padding: var(--gap-24);
  background-color: var(--bg-color);
  border-radius: var(--border-corner);
  box-shadow: 0px 24px 24px hsla(230, 98%, 60%, 0.1);
  z-index: 100;
  display: none;
}

.header__settings-menu.show {
  display: flex;
}

.header__settings-title {
  color: var(--grey);
}

.header__settings-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: var(--gap-24) var(--gap-16);
  position: relative;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-light);
}

.header__settings-group-title {
  display: flex;
  position: absolute;
  top: calc(-1 * (var(--gap-24) + 0.15rem));
  left: 0.5rem;
  padding-inline: 0.5rem;
  background-color: var(--bg-color);
  font-weight: bold;
  font-size: var(--font-14);
  line-height: 1;
}

.header__settings-item {
  min-width: 200px;
  display: flex;
  align-items: center;
  column-gap: var(--gap-12);
  cursor: pointer;
}
/* HIDE INPUTS */
.theme input {
  position: absolute;
  visibility: hidden;
}

.header__settings-icon {
  grid-column: 4;
  width: 4rem;
  height: 3rem;
  position: relative;
  border-radius: 0.75rem;
  border: 2px solid var(--grey-light);
}
.header__settings-icon span {
  width: 24px;
  height: 6px;
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  background-color: var(--grey);
  border-radius: 50px;
}
.header__settings-icon span::after,
.header__settings-icon span::before {
  content: '';
  height: 3px;
  position: absolute;
  background-color: inherit;
  border-radius: inherit;
}
.header__settings-icon span::after {
  width: 40px;
  top: 0.65rem;
}
.header__settings-icon span::before {
  width: 24px;
  top: 1.115rem;
}
.header__settings-icon.light {
  background-color: var(--bg-color);
}
.header__settings-icon.dark {
  background-color: var(--black);
}
.header__settings-icon.auto {
  background: linear-gradient(-115deg, white 50%, black 50%);
}
.header__settings-icon.auto span,
.header__settings-icon.auto span::after,
.header__settings-icon.auto span::before {
  mix-blend-mode: difference;
}

.header__settings-name {
  flex-grow: 1;
  font-size: var(--font-18);
  font-weight: 400;
  color: var(--grey-dark);
  text-transform: capitalize;
}

.header__settings-radio-button {
  --dot-width: 2rem;
  width: var(--dot-width);
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
  border: 2px solid var(--primary);
  outline: 2px solid var(--primary);
  contain: paint;
  isolation: isolate;
}
.dot {
  display: flex;
  width: var(--dot-width);
  aspect-ratio: 1;
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  border: inherit;
  filter: url('#goo');
}

.dot::after,
.dot::before {
  content: '';
  width: 0.75rem;
  aspect-ratio: 1;
  position: absolute;
  inset: 0.5rem;
  background-color: var(--primary);
  border-radius: inherit;
  z-index: 2;
}
.dot::after {
  transform: translateY(-1.7rem) scale(0.3);
  transition: transform var(--transition-03) cubic-bezier(0, 0.89, 0.78, 0.5);
}
.dot::before {
  transform: translateY(-1.7rem) scale(0.7);
  transition: transform var(--transition-03) cubic-bezier(0.61, 0.17, 0.35, 0.95);
}

input[type='radio']:checked ~ .header__settings-radio-button .dot::after {
  transform: translateY(0) scale(1);
}
input[type='radio']:checked ~ .header__settings-radio-button .dot::before {
  transition-delay: 0.1s;
  transform: translateY(0) scale(1.1);
}
input[type='radio']:checked ~ .header__settings-name {
  color: var(--primary);
}

@import url(./theme.css);
@import url(./lang.css);
