.nav-bar__settings-menu {
  display: none;
  flex-direction: column;
  row-gap: var(--gap-12);
  position: absolute;
  top: calc(var(--gap-36) + var(--size-56));
  right: calc(var(--size-48) * 2.2);
  padding: var(--gap-24);
  border-radius: var(--border-corner-8);
  transition: all var(--transition-03) ease-in-out;
  z-index: 101;
}

.is-sticky .nav-bar__settings-menu {
  top: calc(var(--gap-36) + var(--size-36));
}

.nav-bar__settings-menu.show {
  display: flex;
}

.nav-bar__settings-item {
  min-width: 5rem;
  display: flex;
  align-items: center;
  column-gap: var(--gap-12);
  padding-block: var(--gap-4);
  border: none;
  color: var(--txt-color-alt);
  font-size: var(--font-16);
  transition: all var(--transition-03) ease-in-out;
  cursor: pointer;
}
.nav-bar__settings-item[aria-checked='true'] {
  color: var(--switch-black-and-light);
}

@media screen and (max-width: 960px) {
  .nav-bar__settings-menu {
    right: calc(var(--size-48) * 2.5);
  }
}
@media screen and (max-width: 559px) {
  .nav-bar__settings-menu {
    top: calc(var(--gap-24) + var(--size-48));
    right: calc(var(--size-48) * 1.22);
    font-size: var(--font-14);
  }
}
