.button-langs {
  display: grid;
  grid-template-columns: 1fr 18px;
  column-gap: var(--gap-16);
  align-items: center;
  padding: 0.5rem;
  margin-inline-start: auto;
  background-color: var(--btn-nav-lang);
  border-radius: var(--border-corner-8);
  color: var(--switch-black-and-light);
  font-size: var(--font-16);
  text-transform: capitalize;
}

.button-langs-arrow {
  stroke: var(--switch-black-and-light);
  transform: scale(0.8);
  transition: transform var(--transition-03) ease-in-out;
}

.button-langs.active .button-langs-arrow {
  transform: rotateX(0.5turn) scale(0.8);
}

@media screen and (max-width: 559px) {
  .button-langs {
    column-gap: var(--gap-8);
  }

  .button-langs-arrow {
    transform: scale(0.5);
  }

  .button-langs.active .button-langs-arrow {
    transform: rotateX(0.5turn) scale(0.5);
  }
}

@import url('./lang-menu.css');
