.nav-bar__theme-button {
  background-color: var(--bg-color);
  border-radius: 50%;
}

.theme-icon {
  fill: var(--btn-theme);
}

.nav-bar__theme-button.active .theme-button__icon-light {
  transform: rotateZ(0.25turn);
}
