.hero-section {
  width: 100%;
  height: calc(100vh - (var(--gap-36) * 2 + var(--button-settings)));
  justify-items: center;
  align-items: center;
  position: relative;
}

/* SVG ELEMENTS */
.hero-section__span-circle {
  width: 140px;
  aspect-ratio: 1;
  position: absolute;
  bottom: -22rem;
  left: -12rem;
  background-color: var(--primary);
  border-radius: 50%;
  z-index: -200;
}
.hero-section__span-circle-lines {
  bottom: -20rem;
  left: -16rem;
  transform: rotateZ(110deg);
  stroke-width: 0.5px;
}
.hero-section__illus-right-cross {
  top: 30vh;
  right: 1rem;
}
@media screen and (max-width: 1200px) {
  .hero-section__illus-right-cross {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .hero-section {
    height: 100vh;
    contain: paint;
  }
}

@import url(./left-side.css);
@import url(./right-side.css);
