.hero-section__illustration {
  grid-column: 7 / 13;
  width: clamp(25rem, 30vw, 35rem);
  position: relative;
}
.hero-section__illustration-mob {
  display: none;
}
/* .hero-section__illustration-mob {
  grid-column: 1 / -1;
  position: absolute;
  top: 0;
  left: 0;
} */

/* SVG ELEMENTS */
.hero-section__grid-illustration {
  top: 11rem;
  left: 11rem;
  transform: translate(-30px, 30px);
}
.hero-section__illus-bottom-cross {
  bottom: -5rem;
  left: 8rem;
}
.hero-section__illus-right-cross {
  top: 15rem;
  right: -1.5rem;
}
.hero-section__illus-top-rect {
  top: -7rem;
  right: 8vw;
}
.hero-section__illus-bottom-triangle {
  bottom: -10rem;
  right: 1.5rem;
}
.hero-section__illus-bottom-triangle-lines {
  bottom: -11rem;
  right: 1.4rem;
  z-index: -200;
}

@media screen and (max-width: 960px) {
  .hero-section__illustration {
    display: none;
  }
  .hero-section__illustration-mob {
    width: clamp(8rem, 25vw, 15rem);
    aspect-ratio: 1;
    display: block;
    grid-column: 1 / -1;
    position: absolute;
    top: 15vh;
    right: -5rem;
  }
  .hero-section__illus-bottom-cross {
    display: none;
  }
  .hero-section__illus-right-cross {
    display: none;
  }
  .hero-section__illus-top-rect {
    display: none;
  }
  .hero-section__illus-bottom-triangle {
    display: none;
  }
  .hero-section__illus-bottom-triangle-lines {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .hero-section__illustration-mob {
    display: none;
  }
}
