.footer {
  --icons: calc(var(--size-24) * 6 + var(--gap-16) * 5);
  max-inline-size: 1920px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: minmax(var(--icons), 1fr) 1fr minmax(var(--icons), 1fr);
  gap: var(--gap-24);
  align-items: center;
  padding: var(--gap-36);
  border-top: 2px solid var(--bg-color-alt);
}

.footer__center {
  text-align: center;
}

.footer__terms-links {
  justify-self: end;
  display: flex;
  gap: var(--gap-16);
  align-items: center;
}

@media (max-width: 960px) {
  .footer {
    grid-template-columns: 1fr;
  }

  .footer__terms-links,
  .footer__social-links {
    justify-self: center;
  }
}
