.footer {
  --l-size: 6.5rem;
  --s-size: 4rem;
  --icons: calc(var(--size-24) * 6 + var(--gap-16) * 5);
  --left-side: calc(var(--icons) + var(--gap-48) + var(--l-size));
  max-inline-size: 1920px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: minmax(min-content, var(--l-size)) minmax(min-content, var(--icons)) 1fr minmax(
      min-content,
      var(--left-side)
    );
  column-gap: var(--gap-48);
  align-items: center;
  padding: var(--gap-36);
  border-top: 2px solid var(--bg-color-alt);
}

.footer__logo {
  fill: var(--switch-black-and-light-alt);
  width: clamp(var(--s-size), 15vw, var(--l-size));
  margin-inline-end: auto;
  transition: all var(--transition-03) ease-in-out;
}

.footer__links {
  display: flex;
  gap: var(--gap-16);
  align-items: center;
}

.footer__icon,
.footer__icon svg {
  inline-size: var(--size-24);
  aspect-ratio: 1;
}
.footer__icon svg {
  fill: var(--switch-black-and-light-alt);
}

.footer__center {
  justify-self: center;
}
