.survey-form {
  grid-column: 1 / -1;
  row-gap: var(--gap-176);
}

.main-grid-hide {
  animation: hide-survey var(--transition-05) ease-in-out forwards;
}

@keyframes hide-survey {
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.survey-form__center {
  grid-column: 2 / -2;
  justify-self: center;
}
.survey__send-button {
  position: relative;
  inline-size: min-content;
  margin-inline: auto;
}

.send-button__notice {
  padding-block-end: var(--gap-16);
  transition: all var(--transition-03) ease-in-out;
  pointer-events: none;
}

.survey__send-button button {
  inline-size: max-content;
}

.send-button__send-plane {
  inline-size: 168px;
  aspect-ratio: 1 / 0.85;
  position: absolute;
  inset-inline: 95%;
  inset-block-end: -40%;
  z-index: -1;
}

.send-plane-stroke {
  stroke: var(--switch-black-and-light);
  stroke-linecap: round;
  stroke-width: 2;
}
.send-plane-fill {
  fill: var(--switch-black-and-light);
}

.send-button__notice.hide {
  opacity: 0;
}

.survey__response-message {
  max-inline-size: 960px;
  padding-block-start: var(--gap-36);
  font-size: var(--font-32);
  font-weight: bold;
  text-align: center;
  opacity: 0;
}
.survey__show-message {
  animation: message 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes message {
  50% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 960px) {
  .survey-form {
    row-gap: var(--gap-128);
  }
}
@media screen and (max-width: 559px) {
  .survey-form {
    row-gap: var(--gap-96);
  }
  .survey__send-button {
    margin-inline: auto;
  }
  .send-button__send-plane {
    inline-size: 120px;
    inset-inline: 40%;
    inset-block-end: 110%;
  }
}

@import url(./question.css);
@import url(./question-radio-button.css);
@import url(./question-textfield.css);

.survey__social-btns {
  grid-column: 1 / -1;
  max-inline-size: 960px;
  justify-self: center;
  padding-block: var(--gap-192);
}
.social-buttons.social-buttons-gap {
  gap: var(--gap-48);
}

.survey__social-btns .social-button__icon svg {
  inline-size: var(--size-48);
  aspect-ratio: 1;
}
.survey__social-btns .social-button__icon {
  inline-size: 80px;
  aspect-ratio: 1;
  padding: var(--gap-16);
}
