.survey-form {
  grid-column: 1 / -1;
  row-gap: var(--gap-176);
}

.main-grid-hide {
  animation: hide-survey var(--transition-05) ease-in-out forwards;
}
@keyframes hide-survey {
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.survey-form__center {
  grid-column: 2 / -2;
  justify-self: center;
}
.survey__send-button {
  position: relative;
  inline-size: min-content;
  margin-inline: auto;
}

.send-button__notice {
  padding-block-end: var(--gap-16);
  transition: all var(--transition-03) ease-in-out;
  pointer-events: none;
}

.survey__send-button button {
  inline-size: max-content;
}

.send-button__send-plane {
  inline-size: 168px;
  aspect-ratio: 1 / 0.85;
  position: absolute;
  inset-inline: 95%;
  inset-block-end: -40%;
  z-index: -1;
}

.send-plane-stroke {
  stroke: var(--switch-black-and-light);
  stroke-linecap: round;
  stroke-width: 2;
}
.send-plane-fill {
  fill: var(--switch-black-and-light);
}

.send-button__notice.hide {
  opacity: 0;
}

/* SURVEY IS DONE STYLES */
.survey__response-message {
  max-inline-size: 960px;
  padding-block-start: var(--gap-36);
  opacity: 0;
  font-size: var(--font-32);
  font-weight: bold;
  text-align: center;
  animation: message 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}
@keyframes message {
  50% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.survey__social-btns {
  grid-column: 2 / -2;
  max-inline-size: 960px;
  justify-self: center;
  padding-block: var(--gap-176);
  position: relative;
}
.survey__social-btns.social-buttons {
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-48);
  position: relative;
}

.survey__social-btns .social-button__icon svg {
  inline-size: var(--size-48);
  aspect-ratio: 1;
}
.survey__social-btns .social-button__icon {
  --one-row: 370px;
  inline-size: 80px;
  aspect-ratio: 1;
  padding: var(--gap-16);
  opacity: 0;
  animation: survey-soc-button 0.5s ease-in-out forwards;
}
@keyframes survey-soc-button {
  50% {
    opacity: 0;
    transform: translateY(2rem) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.survey__social-btns .social-button__icon:nth-of-type(1) {
  animation-delay: 1s;
}
.survey__social-btns .social-button__icon:nth-of-type(2) {
  animation-delay: 1.2s;
}
.survey__social-btns .social-button__icon:nth-of-type(3) {
  animation-delay: 1.4s;
}
.survey__social-btns .social-button__icon:nth-of-type(4) {
  animation-delay: 1.6s;
}
.survey__social-btns .social-button__icon:nth-of-type(5) {
  animation-delay: 1.8s;
}
.survey__social-btns .social-button__icon:nth-of-type(6) {
  animation-delay: 2s;
}

.survey__visic-in-box {
  justify-self: center;
  grid-column: 2 / -2;
  grid-row: 3;
  display: grid;
  animation: survey-visic-box 0.5s cubic-bezier(0, 0.7, 0.5, 1) forwards;
  animation-delay: 2s;
  opacity: 0;
}
@keyframes survey-visic-box {
  50% {
    opacity: 0;
    transform: scale(0);
  }
  50.01% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.survey__visic,
.survey__parcel-back,
.survey__parcel-front {
  position: relative;
  grid-column: 1;
  grid-row: 1;
}

.survey__parcel-back {
  align-self: center;
  justify-self: center;
  inset-block-end: 30px;
  inset-inline-end: 5px;
  z-index: -1;
}
.survey__parcel-front {
  align-self: flex-end;
  z-index: 15;
}

.survey__visic {
  justify-self: center;
  inset-block-end: 45px;
  transform: translateY(7rem) scale(0.7);
  clip-path: polygon(0 0, 100% 0, 90% 70%, 0% 40%, 0 40%);
  animation: survey-visic 1s ease-in-out forwards;
  animation-delay: 2.5s;
}
@keyframes survey-visic {
  50% {
    transform: translateY(7rem) scale(0.7);
    clip-path: polygon(0 0, 100% 0, 90% 70%, 0% 40%, 0 40%);
  }
  100% {
    transform: translateY(0) scale(1);
    clip-path: polygon(0 0, 100% 0, 90% 70%, 0% 75%, 0 65%);
  }
}

/* CLOUDS STYLES */
.survey__big-cloud-one,
.survey__big-cloud-two,
.survey__small-cloud-one,
.survey__small-cloud-two {
  opacity: 0;
  z-index: -1;
}
.survey__big-cloud-one,
.survey__big-cloud-two {
  position: absolute;
}
.survey__big-cloud-one {
  grid-column: 2 / 4 span;
  inset-block-start: 30%;
  animation: survey-cloud-left 1s ease-in-out forwards, survey-cloud-fly 60s linear infinite;
  animation-delay: 1.1s;
}
.survey__big-cloud-two {
  grid-column: 10 / 4 span;
  inset-block-end: 0;
  animation: survey-cloud-right 1s ease-in-out forwards, survey-cloud-fly 65s linear infinite;
  animation-delay: 1.3s;
}
.survey__small-cloud-one {
  grid-column: 10 / 2 span;
  inset-block-start: 30%;
  animation: survey-cloud-left 1s ease-in-out forwards, survey-cloud-fly 56s linear infinite;
  animation-delay: 1.5s;
}
.survey__small-cloud-two {
  grid-column: 4 / 2 span;
  inset-block-end: 20%;
  animation: survey-cloud-right 1s ease-in-out forwards, survey-cloud-fly 52s linear infinite;
  animation-delay: 1.7s;
}
@keyframes survey-cloud-right {
  50% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes survey-cloud-left {
  50% {
    opacity: 0;
    transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes survey-cloud-fly {
  50% {
    transform: translateX(150px);
  }
}

@media screen and (max-width: 960px) {
  .survey-form {
    row-gap: var(--gap-128);
  }
  .survey__big-cloud-one {
    grid-column: 1 / 4 span;
  }
  .survey__big-cloud-two {
    grid-column: 3 / 4 span;
  }
  .survey__small-cloud-one {
    grid-column: 5 / 2 span;
    inset-block-start: 50%;
  }
  .survey__small-cloud-two {
    grid-column: 2 / 2 span;
  }
}

@media screen and (max-width: 559px) {
  .survey-form {
    row-gap: var(--gap-96);
  }
  .survey__send-button {
    margin-inline: auto;
  }
  .send-button__send-plane {
    inline-size: 120px;
    inset-inline: 40%;
    inset-block-end: 110%;
  }
  @keyframes survey-visic-box {
    50% {
      opacity: 0;
      transform: scale(0);
    }
    50.01% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: scale(0.7);
    }
  }
  .survey__big-cloud-one {
    grid-column: 1 / 6 span;
    inset-block-start: 35%;
  }
  .survey__big-cloud-two {
    grid-column: 2 / 6 span;
  }
  .survey__small-cloud-one {
    grid-column: 5 / 3 span;
    inset-block-start: 60%;
  }
  .survey__small-cloud-two {
    grid-column: 2 / 3 span;
    inset-block-end: 20%;
  }
}

@import url(./question.css);
@import url(./question-radio-button.css);
@import url(./question-textfield.css);
