.team-members {
  grid-column: 2 / -2;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  column-gap: var(--gap-48);
  row-gap: var(--font-96);
}

.team-member {
  inline-size: 300px;
  display: grid;
  grid-template-rows: min-content;
  justify-items: center;
  row-gap: var(--gap-12);
  padding-inline: var(--gap-32);
  border-radius: var(--border-corner-16);
  position: relative;
  transition: all var(--transition-01) ease-in-out;
}

.team-member:active {
  transform: translate(2px, 2px);
}

.team-member:hover .team-member__photo img {
  filter: drop-shadow(10px 10px 0 hsl(0 100% 0% / 0.3));
}
.team-member:hover .team-member__name:after {
  inset-inline: 10%;
}

.team-member__backdrop {
  block-size: 80%;
  aspect-ratio: 1;
  inset-block-end: 0;
  /* inset-inline: 0; */
  position: absolute;
  background: linear-gradient(to bottom, var(--bg-after), var(--bg-after) 71%, var(--bg-color-alt) 71%);
  border: none;
  border-radius: inherit;
  filter: drop-shadow(10px 10px 0 var(--black));
  perspective: 2000px;
  transition: all var(--transition-01) ease-in-out;
  z-index: 0;
}
.team-member__backdrop:active {
  filter: drop-shadow(5px 5px 0 var(--black));
}

.team-member__backdrop:after {
  content: '';
  /* inline-size: 208px; */
  inline-size: 201px;
  aspect-ratio: 1;
  position: absolute;
  /* inset-block-end: -100px; */
  inset-block-end: -96px;
  inset-inline-start: 46px;
  background-color: var(--bg-color-alt);
  border-radius: 15px;
  transform: rotateX(70deg) rotateZ(45deg);
}

.team-member__photo,
.team-member__name,
.team-member__position {
  position: relative;
  pointer-events: none;
}
.team-member__name,
.team-member__position {
  text-align: center;
  inline-size: 100%;
}

.team-member__photo {
  inline-size: 200px;
  aspect-ratio: 1 / 1.4;
  overflow: hidden;
}
.team-member__photo img {
  transition: all var(--transition-03) ease-in-out;
}

.team-member__name {
  padding-block: var(--gap-12);
  font-size: var(--font-18);
}
.team-member__name:after {
  content: '';
  position: absolute;
  inset-inline: 15%;
  inset-block-end: 0;
  block-size: 2px;
  background-color: var(--btn-txt-disable);
  transition: all var(--transition-03) ease-in-out;
}

.team-member__position {
  font-size: var(--font-14);
}

/* POPUP SETTINGS */
[role='dialog'][open] .teambox {
  animation: slide-in 0.3s forwards;
}
[role='dialog'][closing] .teambox {
  animation: slide-out 0.3s forwards;
}

.teambox {
  justify-self: center;
  align-self: center;
  max-inline-size: 560px;
  block-size: max-content;
  display: grid;
  grid-template-rows: min-content repeat(4, min-content);
  justify-items: center;
  gap: var(--gap-12);
  position: relative;
  padding-inline: var(--gap-32);
  padding-block: var(--gap-16) var(--gap-48);
  background-color: var(--bg-color-alt);
  z-index: 101;
}

.teambox::after {
  content: '';
  position: absolute;
  inset: 0;
  background-size: 750px;
  background-image: url(/images/pattern.webp);
  mix-blend-mode: multiply;
  opacity: var(--bg-opacity);
  z-index: -1;
}

.team-member__social-links {
  justify-self: start;
  padding-block: var(--gap-12) var(--gap-32);
}

.dialog-close-btn {
  position: absolute;
  inset-inline-end: var(--gap-24);
  inset-block-start: var(--gap-16);
}

.team-member__dialog-photo {
  position: relative;
  inline-size: var(--size-208);
  aspect-ratio: 1;
  border-radius: 50%;
}

.team-member__dialog-photo img {
  border-radius: inherit;
  object-fit: cover;
  object-position: 0 -0.5rem;
}

.team-member__dialog-name {
  font-size: var(--font-32);
}

.team-member__dialog-position {
  padding-block-end: var(--gap-24);
  color: var(--txt-color-alt);
  font-size: var(--font-16);
  font-weight: bold;
}

@keyframes slide-in {
  from {
    transform: translateY(3rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3rem);
  }
}

@media screen and (max-width: 1100px) {
  .team-members {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .team-member {
    justify-self: center;
  }
}
@media screen and (min-width: 1101px) {
  .team-member:nth-of-type(1n + 4) {
    justify-self: flex-end;
  }
}
