.team-members {
  grid-column: 2 / -2;
}

.team-member {
  max-inline-size: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* STRANGE BUG, HSL() INSTEAD OF VARIBLES */
/* [data-theme='light'] .team-member__dialog::backdrop {
  background: hsl(21 70% 96% / 0.8);
}
[data-theme='dark'] .team-member__dialog::backdrop {
  background: hsl(206 100% 11% / 0.8);
}
.team-member__dialog::backdrop {
  cursor: pointer;
  pointer-events: all;
}
.team-member__dialog[open]::backdrop {
  animation: fade-in 0.3s forwards;
}
.team-member__dialog[closing]::backdrop {
  animation: fade-out 0.3s forwards;
} */

[role='dialog'][open] .teambox {
  animation: slide-in 0.3s forwards;
}
[role='dialog'][closing] .teambox {
  animation: slide-out 0.3s forwards;
}

.teambox {
  justify-self: center;
  align-self: center;
  max-inline-size: 560px;
  block-size: max-content;
  display: grid;
  grid-template-rows: min-content repeat(4, min-content);
  justify-items: center;
  gap: var(--gap-12);
  position: relative;
  padding-inline: var(--gap-32);
  padding-block: var(--gap-16) var(--gap-48);
  background-color: var(--bg-color-alt);
  z-index: 101;
}

.teambox::after {
  content: '';
  position: absolute;
  inset: 0;
  background-size: 750px;
  background-image: url(/images/pattern.webp);
  mix-blend-mode: multiply;
  opacity: var(--bg-opacity);
  z-index: -1;
}

.team-member__social-links {
  justify-self: start;
  padding-block: var(--gap-12) var(--gap-32);
}

.dialog-close-btn {
  position: absolute;
  inset-inline-end: var(--gap-24);
  inset-block-start: var(--gap-16);
}

.team-member__photo,
.team-member__dialog-photo {
  position: relative;
  inline-size: var(--size-208);
  aspect-ratio: 1;
  border-radius: 50%;
}
.team-member__dialog-photo img,
.team-member__photo img {
  border-radius: inherit;
}

.team-member__dialog-name {
  font-size: var(--font-32);
}

.team-member__dialog-position {
  padding-block-end: var(--gap-24);
  color: var(--txt-color-alt);
  font-size: var(--font-16);
  font-weight: bold;
}

@keyframes slide-in {
  from {
    transform: translateY(3rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3rem);
  }
}
