.nav-bar__links {
  justify-self: center;
  display: flex;
  gap: var(--gap-32);
}
.nav-bar__links a {
  color: var(--switch-black-and-light);
  font-size: var(--font-16);
  font-weight: 400;
}

@media screen and (max-width: 960px) {
  .nav-bar__links {
    display: none;
  }
}
