.steps__container {
  grid-column: 2 / -2;
  display: flex;
  flex-direction: column;
  gap: var(--gap-240);
  position: relative;
}
[class^='step-'] {
  display: flex;
  align-items: center;
  gap: var(--gap-36);
}
[class^='step-']:nth-of-type(even) {
  flex-direction: row-reverse;
}

.step__illustration,
.step__app-preview {
  flex: 0 1 50%;
  position: relative;
}
.step__back-layer,
.step__front-layer {
  margin-inline: auto;
}
.step__front-layer {
  position: absolute;
  inset: 0;
  margin-block: auto;
}
.step__description {
  --width-desc: 200px;
  block-size: clamp(150px, 13vw, var(--width-desc));
  display: grid;
  place-content: center;
  aspect-ratio: 1 / 0.6;
  position: absolute;
  border-radius: 50%;
  background-color: var(--bg-dialog);
  padding: 2.5rem;
  font-size: clamp(var(--font-16), 1.5vw, var(--font-20));
  font-weight: bold;
}

.step__description.monolog {
  inset-block-end: 40%;
}

.step__description.dialog {
  inset-block-end: 44%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
}

.step__monolog {
  position: absolute;
  inset: -8% 0%;
  transform: rotateX(20deg);
  fill: var(--switch-black-and-light);
  z-index: 5;
}
.step__dialog {
  position: absolute;
  inset: -4% 0%;
  transform: rotateX(20deg);
  fill: var(--switch-black-and-light);
  z-index: 5;
}

[class^='step-']:nth-of-type(odd) .step__description.monolog {
  inset-inline-start: 42%;
}
[class^='step-']:nth-of-type(even) .step__description.monolog {
  inset-inline-end: 42%;
}
[class^='step-']:nth-of-type(even) .step__monolog {
  transform: rotateX(20deg) rotateY(0.5turn);
}

@media (max-width: 1366px) {
  .step__description.monolog {
    inset-block-end: 44%;
  }
  .step__description.dialog {
    inset-block-end: 46%;
  }
}

@media (max-width: 960px) {
  .steps__container {
    grid-column: 1 / -1;
    min-inline-size: 470px;
    inset-inline-start: 50%;
    transform: translateX(-50%);
  }
  [class^='step-'],
  [class^='step-']:nth-of-type(even) {
    flex-direction: column;
  }
  .step__description.monolog {
    inset-block-end: 40%;
  }
  .step__description.dialog {
    inset-block-end: 45%;
  }
}

@media screen and (max-width: 559px) {
  .step__description.monolog {
    inset-block-end: 44%;
  }
  [class^='step-']:nth-of-type(odd) .step__description.monolog {
    inset-inline-start: 39%;
  }
  [class^='step-']:nth-of-type(even) .step__description.monolog {
    inset-inline-end: 39%;
  }
}
