.step__back-layer,
.step__front-layer {
  margin-inline: auto;
}
.step__front-layer {
  position: absolute;
  inset: 0;
  margin-block: auto;
}

[data-theme='dark'] .step__description {
  border-image-source: url(/images/svg/dark/baloon-square.svg);
}
[data-theme='light'] .step__description {
  border-image-source: url(/images/svg/light/baloon-square.svg);
}

.step__description {
  display: grid;
  place-content: center;
  position: absolute;
  padding: 0.5rem;
  border-radius: 50px;
  border: 10px solid var(--bg-dialog);
  background-color: var(--bg-dialog);
  border-image-slice: 30;
  border-image-slice: 40;
  border-image-width: 30px;
  border-image-width: 17px;
  border-image-outset: 5px;
  border-image-outset: 0px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  font-size: clamp(var(--font-16), 1.5vw, var(--font-18));
  font-weight: bold;
  line-height: 1.4;
  z-index: 100;
}

.step__description.monolog::after,
.step__description.dialog::after {
  content: '';
  inline-size: clamp(59px, 5vw, 80px);
  aspect-ratio: 1;
  position: absolute;
  inset-block-end: -39%;
  background-repeat: no-repeat;
  background-size: contain;
}

/* [data-theme='dark'] .step__description.monolog::after {
  background-image: url(/images/svg/dark/baloon-monolog.svg);
}
[data-theme='light'] .step__description.monolog::after {
  background-image: url(/images/svg/light/baloon-monolog.svg);
}
[data-theme='dark'] .step__description.dialog::after {
  background-image: url(/images/svg/dark/baloon-dialog.svg);
}
[data-theme='light'] .step__description.dialog::after {
  background-image: url(/images/svg/light/baloon-dialog.svg);
} */

.step__description.dialog::after {
  inset-inline-start: 40%;
}

.step__description.monolog {
  inset-block-end: 44%;
  inset-inline: 30%;
}

.step__description.dialog {
  inset-block-end: 44%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
}

[class^='step-']:nth-of-type(odd) .step__description.monolog::after {
  inset-inline-start: 10%;
}
[class^='step-']:nth-of-type(even) .step__description.monolog::after {
  inset-inline-end: 10%;
  transform: rotateY(0.5turn);
}

[class^='step-']:nth-of-type(even) .step__monolog {
  transform: rotateX(20deg) rotateY(0.5turn);
}

@media screen and (max-width: 559px), (min-width: 961px) and (max-width: 1366px) {
  .step__description.monolog,
  .step__description.dialog {
    inset-block-end: 46%;
  }
  .step__description.monolog {
    inset-inline: 15%;
  }
}
@media (min-width: 590px) and (max-width: 960px) {
  .step__description.monolog {
    inset-inline: 25%;
  }
}

@media screen and (max-width: 559px) {
  .step__description.monolog::after,
  .step__description.dialog::after {
    inset-block-end: -36%;
  }

  [class^='step-']:nth-of-type(odd) .step__description.monolog::after {
    inset-inline-start: 33%;
  }
  [class^='step-']:nth-of-type(even) .step__description.monolog::after {
    inset-inline-start: 43%;
  }
}
