/* SVG MAIN STYLE */
.svg-objects {
  position: absolute;
  z-index: -100;
}
.fit-svg {
  width: 100%;
  height: 100%;
}
/* GEOMETRIC OBJECTS */
.bg-geometric-size-32 {
  width: 2rem;
}
.bg-geometric-size-40 {
  width: 2.5rem;
}
.bg-geometric-size-48 {
  width: 3rem;
}
.bg-geometric-size-56 {
  width: 3.5rem;
}
.bg-geometric-size-64 {
  width: 4rem;
}
.bg-geometric-size-80 {
  width: 5rem;
}
.bg-geometric-size-96 {
  width: 6rem;
}
.bg-geometric-size-192 {
  width: 12rem;
}

.bg-geometric-fill-primary {
  fill: var(--primary);
}
.bg-geometric-fill-secondary {
  fill: var(--light-yellow);
}

.bg-geometric-stroke-32,
.bg-geometric-stroke-48 {
  stroke: var(--black);
  fill: none;
}
.bg-geometric-stroke-32 {
  stroke-width: 1.5px;
}
.bg-geometric-stroke-48 {
  stroke-width: 1px;
}

/* LETTER OBJECT */
.bg-letter-stroke {
  stroke: var(--black);
}
.bg-letter-fill {
  fill: var(--grey);
}
/* GRID OBJECTS */
.bg-grid-stroke {
  stroke: var(--white);
}

/*LINES OBJECTS*/
.bg-lines-stroke-main {
  stroke: var(--grey);
}
.bg-lines-stroke-alt {
  stroke: var(--black);
}
