.app__container {
  grid-column: 2 / -2;
  justify-self: center;
  inline-size: clamp(600px, 60vw, 1200px);
  aspect-ratio: 1 / 0.92917;
  position: relative;
}

.app__front-layer,
.app__back-layer,
.bonfire::after {
  position: absolute;
  inset: 0;
}

.app__front-layer {
  z-index: 10;
}

/* Проверить width и height в самих svg файлах
их там не должно быть, иначе в safari будут странности */
.bonfire {
  inline-size: clamp(60px, 6vw, 115px);
  aspect-ratio: 1 / 1.3044;
  position: absolute;
  inset-block-end: 15%;
  inset-inline-end: 47%;
}
.bonfire::after {
  content: '';
  inline-size: inherit;
  aspect-ratio: 1 / 1.3044;
  background-size: contain;
  animation: bonfire 0.6s linear infinite;
  z-index: 5;
}

.phone.phone-app {
  inline-size: clamp(260px, 18vw, var(--phone-width));
  position: absolute;
  inset-inline-start: 48%;
  inset-block-end: 25%;
  transform: translateX(-50%);
  z-index: 3;
}

.app__back-layer {
  z-index: 1;
}

@keyframes bonfire {
  0% {
    background-image: url(/images/svg/bonfire-1.svg);
  }
  20% {
    background-image: url(/images/svg/bonfire-2.svg);
  }
  40% {
    background-image: url(/images/svg/bonfire-3.svg);
  }
  60% {
    background-image: url(/images/svg/bonfire-4.svg);
  }
  80% {
    background-image: url(/images/svg/bonfire-5.svg);
  }
  100% {
    background-image: url(/images/svg/bonfire-1.svg);
  }
}

@media screen and (max-width: 960px) {
  .app__container {
    grid-column: 1 / -1;
    inline-size: clamp(600px, 90vw, 1200px);
  }

  .bonfire {
    inline-size: clamp(60px, 9vw, 115px);
  }
}
