.steps__container {
  grid-column: 2 / -2;
  display: flex;
  flex-direction: column;
  gap: var(--gap-240);
  position: relative;
}

[class^='step-'] {
  display: flex;
  align-items: center;
  gap: var(--gap-36);
}
[class^='step-']:nth-of-type(even) {
  flex-direction: row-reverse;
}

.step__illustration,
.step__app-preview {
  flex: 0 1 50%;
  position: relative;
}

@media (max-width: 960px) {
  .steps__container {
    grid-column: 1 / -1;
    min-inline-size: 470px;
    inset-inline-start: 50%;
    transform: translateX(-50%);
  }

  [class^='step-'] {
    gap: var(--gap-176);
  }

  [class^='step-'],
  [class^='step-']:nth-of-type(even) {
    flex-direction: column;
  }

  .step__illustration,
  .step__app-preview {
    flex: 1 1 100%;
    position: relative;
  }
}

@media screen and (max-width: 559px) {
  [class^='step-'] {
    gap: var(--gap-36);
  }
}

@import url(./step-illustrations.css);
@import url(./step-preview.css);
