.button {
  --alfa: 0.5;
  width: 100%;
  position: relative;
  padding: var(--gap-16) var(--gap-36);
  border-radius: var(--corner-12);
  font-size: clamp(var(--font-24), 2vw, var(--font-32));
  text-align: center;
  transition: transform var(--transition-01) ease-in-out, box-shadow var(--transition-01) ease-in-out;
}

.button:active {
  transform: translateY(0.275rem) scale(0.97);
}

.button.button-primary {
  background-color: var(--primary-dark);
  color: var(--white);
  text-transform: uppercase;
  box-shadow: 0 2.5rem 2rem -28px hsl(var(--alfa-primary) / 0.4);
}
.button.button-primary:active {
  box-shadow: 0 1rem 1rem -15px hsl(var(--alfa-primary) / 0.8);
}
.button.button-menu {
  background-color: var(--white);
  color: var(--primary);
  border-color: var(--primary);
  padding: var(--gap-12) var(--gap-36);
  font-size: clamp(var(--font-16), 2vw, var(--font-18));
}
