.button {
  --alfa: 0.5;
  position: relative;
  padding-inline: var(--gap-36);
  padding-block: var(--gap-16);
  border-radius: var(--corner-12);
  border: 2px solid transparent;
  font-size: clamp(var(--font-24), 2vw, var(--font-32));
  font-weight: bold;
  text-transform: uppercase;
  transition: transform var(--transition-01) ease-in-out, box-shadow var(--transition-01) ease-in-out;
  user-select: none;
}

.button:active {
  transform: translateY(0.275rem) scale(0.97);
}

.button.primary-button {
  background-color: var(--primary-dark);
  color: var(--white);
  box-shadow: 0 2.5rem 2rem -28px hsl(var(--alfa-primary) / 0.4);
}
.button.primary-button:active,
.button.second-button:active {
  box-shadow: 0 1rem 1rem -15px hsl(var(--alfa-primary) / 0.8);
}
.button.second-button {
  background-color: var(--white);
  color: var(--primary);
  border-color: var(--primary);
  box-shadow: 0 2.5rem 2rem -28px hsl(var(--alfa-primary) / 0.4);
}
