.main-grid {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(0, 121px)) 1fr;
  /* grid-template-columns: var(--gap-16) repeat(12, minmax(0, 1fr)) var(--gap-16); */
  column-gap: var(--gap-36);
}
svg.liquid-filter {
  position: absolute;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  user-select: none;
  visibility: hidden;
  display: none;
}

.section-label,
.section-title,
.section-description {
  grid-column: 2 / -2;
  justify-self: center;
  text-align: center;
}

.section-label,
.section-description {
  font-size: clamp(var(--font-18), 2vw, var(--font-24));
}

.section-label {
  color: var(--grey);
  text-transform: capitalize;
  position: relative;
}
.section-label > span {
  width: 261px;
  height: 192px;
}

.section-title {
  max-width: 860px;
  line-height: 1.2;
  font-size: clamp(var(--font-32), 6vw, var(--font-48));
}

.title-primary-color {
  color: var(--txt-color-mix1);
  text-transform: uppercase;
}
.title-secondary-color {
  text-transform: uppercase;
  color: var(--secondary);
}

.section-description {
  max-width: 960px;
  padding-block-start: var(--gap-36);
  line-height: 1.6;
  padding-block-end: var(--gap-176);
}
section {
  position: relative;
  overflow-x: hidden;
}
.section:not(.app) {
  padding-block: var(--gap-128);
}
.section.app {
  padding-block: calc(var(--gap-128) * 2);
}

.retro-box {
  background-color: var(--bg-color);
  border: 2px solid var(--black);
  border-radius: var(--border-corner-4);
  box-shadow: 10px 10px 0 var(--black);
}

@media (max-width: 1920px) {
}
@media (max-width: 960px) {
  .main-grid {
    grid-template-columns: var(--gap-16) repeat(6, minmax(0, 1fr)) var(--gap-16);
    column-gap: var(--gap-16);
  }
}
@media (max-width: 559px) {
  .main-grid {
    column-gap: 0;
  }
}
