.main-grid {
  display: grid;
  grid-template-columns: var(--gap-16) repeat(12, minmax(0, 1fr)) var(--gap-16);
  grid-auto-rows: min-content;
  column-gap: var(--gap-36);
}
svg.liquid-filter {
  position: absolute;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  user-select: none;
  visibility: hidden;
  display: none;
}

.section-label,
.section-title,
.section-description {
  grid-column: 2 / -2;
  justify-self: center;
  text-align: center;
}
.section-label,
.section-description {
  font-size: clamp(var(--font-18), 2vw, var(--font-24));
}
.section-label {
  color: var(--grey);
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
}
.section-label > span {
  width: 261px;
  height: 192px;
}
.section-title {
  max-width: 860px;
  font-size: clamp(var(--font-32), 6vw, var(--font-64));
  /* line-height: 1.1; */
}
.title-blue-color {
  color: var(--primary);
}
.title-yellow-color {
  color: var(--secondary);
}
.section-description {
  max-width: 960px;
  padding-block-start: var(--gap-36);
  line-height: 1.6;
  padding-block-end: var(--gap-176);
}

.features-section,
.faqs-section,
.testimonials-section {
  padding-block: var(--gap-128);
  /* padding-inline: var(--gap-16); */
}

/* MARKDOWN STYLES */
.markdown {
  line-height: 1.6;
}
.markdown a {
  color: var(--primary);
  font-weight: bold;
  text-underline-offset: 2px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  transition: all var(--transition-03) ease-in-out;
}
.markdown a:hover {
  text-underline-offset: 6px;
  text-decoration-color: transparent;
}

.markdown p:nth-of-type(n + 2) {
  padding-block-start: var(--gap-16);
}
.markdown blockquote {
  position: relative;
}
.markdown blockquote p::before,
.markdown blockquote p::after {
  line-height: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.markdown blockquote p::before {
  content: '\201C';
}
.markdown blockquote p::after {
  content: '\201D';
}

@media (max-width: 960px) {
  .main-grid {
    grid-template-columns: var(--gap-16) repeat(6, minmax(0, 1fr)) var(--gap-16);
    column-gap: var(--gap-16);
  }
}
@media (max-width: 559px) {
  .main-grid {
    column-gap: 0;
  }
}
