/*
Don't put font-face in styled-components!!!
because of this, has a strange visual effect
when iterating elements for the first time.
*/
@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  size-adjust: 95%;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  size-adjust: 95%;
}
