@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth !important;
  }
  .animated {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
    transition: all 1s ease;
  }
  .animated.top-hide {
    transform: translateY(-50px) scale(0.9);
  }
  .animated.show {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--black);
  }
} */
html[data-theme='dark'] {
  --bg-color: var(--black);
}
/* @media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(-white);
  }
} */
html[data-theme='light'] {
  --bg-color: #fcf4f0;
  --bg-color-alt: #fcf2e8;
  color: var(--grey-dark);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  text-size-adjust: none;

  /* border: 1px solid red; */
}
html {
  background-color: var(--bg-color);
  scrollbar-gutter: stable;
  /* color-scheme: dark light; */
}
html,
body,
#__next {
  position: relative;
  min-height: 100vh;
}
#__next {
  position: relative;
}
body {
  max-width: 1920px;
  margin-inline: auto;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
img {
  user-select: none;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  appearance: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  font-weight: bold;
}

h1,
h2 {
  position: relative;
  font-family: 'Merriweather';
  line-height: 1.3;
  letter-spacing: 1.5px;
  color: var(--bg-color);
  text-shadow: -1px -1px 0 var(--black), 1px -1px 0 var(--black), -1px 1px 0 var(--black), 1px 1px 0 var(--black);
  -webkit-text-stroke: 1px var(--black);
}
h1::after,
h2::after {
  content: attr(data-title);
  position: absolute;
  inset: 0;
  color: var(--black);
  transform: translate(4px, 4px);
  -webkit-text-stroke: 4px var(--black);
  z-index: -1;
}

h3,
h4,
h5,
h6 {
  color: var(--grey-dark);
  font-weight: bold;
  line-height: 1;
}

p,
input,
textarea {
  color: var(--grey-dark);
  font-weight: 400;
}

h3,
h4,
h5,
h6,
p,
a,
span:not(.title-primary-color, .title-secondary-color),
button,
label,
input,
textarea {
  font-family: Verdana;
}

@media (max-width: 960px) {
  :root {
    --body-padding: 1rem;
  }
}

/* Prevent to show content if orientation & height is valid */
@media only screen and (orientation: landscape) and (max-device-height: 780px) {
  main {
    margin-block-start: 5rem;
    row-gap: 10rem;
  }
}

@import url('./common.css');
@import url('./markdown.css');
@import url(./background-objects/svg.css);

/* apply back the draggable feature - exist only in Chromium and Safari */
/* :where([draggable='true']) {
  -webkit-user-drag: element;
} */
/* @import url('./common.css');
@import url('./buttons.css');
@import url('./stars.css');
@import url('./modals.css');
@import url('./nav-bar/nav-bar.css');
@import url('./hero-section/hero-section.css');
@import url('./how-we-work/how-we-work.css');
@import url('./what-we-offer/what-we-offer.css');
@import url('./our-little-story/our-little-story.css');
@import url('./get-in-touch/get-in-touch.css'); */
