@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth !important;
  }
  .animated {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
    transition: all 1s ease;
  }
  .animated.top-hide {
    transform: translateY(-50px) scale(0.9);
  }
  .animated.show {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--black);
  }
} */
html[data-theme='dark'] {
  --bg-color: var(--dark-bg);
  --bg-after: var(--dark-red-alt);
  --bg-before: var(--dark-blue);

  --switch-black-and-light: var(--light-bg);
  --switch-black-and-light-alt: var(--light-bg-alt);

  --txt-color-alt: var(--grey-light);
  --txt-color-mix1: var(--dark-red);
  --txt-color-mix2: var(--dark-yellow);

  --btn-primary: var(--dark-yellow);
  --btn-accept: var(--light-green);
  --btn-cancel: var(--light-red);
  --btn-default: var(--dark-bg-alt);
  --btn-disable-border: var(--grey-light);
  --btn-accordion-plus: var(--light-green-alt);
  --btn-accordion-minus: var(--light-red-alt);
  --btn-nav-lang: var(--dark-green);
  --btn-nav-menu: var(--dark-blue);
  --btn-border: var(--light-bg-alt);
  --btn-txt: var(--black);
  --btn-txt-disable: var(--grey);
  --btn-shadow: var(--black);
  --btn-theme: var(--dark-yellow);

  --cloud-body: var(--dark-blue-cloud);
  --cloud-shadow: var(--dark-bg-alt);
  --cloud-border: var(--dark-bg);
}
/* @media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(-white);
  }
} */
html[data-theme='light'] {
  --bg-color: var(--light-bg);
  --bg-after: var(--light-red);
  --bg-before: var(--light-blue);

  --switch-black-and-light: var(--dark-bg);
  --switch-black-and-light-alt: var(--black);

  --txt-color-alt: var(--grey-dark);
  --txt-color-mix1: var(--light-red-alt);
  --txt-color-mix2: var(--light-yellow-alt);

  --btn-primary: var(--light-yellow);
  --btn-accept: var(--light-green);
  --btn-cancel: var(--light-red);
  --btn-default: var(--light-bg-alt);
  --btn-disable-border: var(--grey-light);
  --btn-accordion-plus: var(--light-green-alt);
  --btn-accordion-minus: var(--light-red-alt);
  --btn-nav-lang: var(--light-green);
  --btn-nav-menu: var(--light-blue);
  --btn-border: var(--light-bg-alt);
  --btn-txt: var(--dark-bg);
  --btn-txt-disable: var(--grey);
  --btn-shadow: var(--black);
  --btn-theme: var(--black);

  --cloud-body: var(--white);
  --cloud-shadow: var(--light-blue);
  --cloud-border: var(--light-blue-alt);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  text-size-adjust: none;

  /* border: 1px solid red; */
}
html {
  background-color: var(--bg-color);
  scrollbar-gutter: stable;
  /* color-scheme: dark light; */
}
html,
body,
#__next {
  min-height: 100vh;
}
#__next {
  position: relative;
}
body {
  margin-inline: auto;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  user-select: none;
}
img {
  user-select: none;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  appearance: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--txt-color-alt);
  font-weight: bold;
  line-height: 1;
}

p,
input,
textarea {
  color: var(--txt-color-alt);
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
strong,
span,
label,
input,
textarea {
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 960px) {
  :root {
    --body-padding: 1rem;
  }
}

/* Prevent to show content if orientation & height is valid */
@media only screen and (orientation: landscape) and (max-device-height: 780px) {
  main {
    margin-block-start: 5rem;
    row-gap: 10rem;
  }
}

@import url('./common.css');
@import url('./markdown.css');
@import url(./background-objects/svg.css);
@import url(./illustration.css);

/* apply back the draggable feature - exist only in Chromium and Safari */
/* :where([draggable='true']) {
  -webkit-user-drag: element;
} */
/* @import url('./common.css');
@import url('./buttons.css');
@import url('./stars.css');
@import url('./modals.css');
@import url('./nav-bar/nav-bar.css');
@import url('./hero-section/hero-section.css');
@import url('./how-we-work/how-we-work.css');
@import url('./what-we-offer/what-we-offer.css');
@import url('./our-little-story/our-little-story.css');
@import url('./get-in-touch/get-in-touch.css'); */
