@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth !important;
  }
  .animated {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
    transition: all 1s ease;
  }
  .animated.top-hide {
    transform: translateY(-50px) scale(0.9);
  }
  .animated.show {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: var(--black);
  }
}
html[data-theme='dark'] {
  --bg-color: var(--black);
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(-white);
  }
}
html[data-theme='light'] {
  --bg-color: var(--white);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  /* margin: 0; */
  /* padding: 0; */
  /* font: inherit; */
  text-size-adjust: none;
}
html {
  background-color: var(--bg-color);
  scrollbar-gutter: stable;
  /* color-scheme: dark light; */
}
html,
body,
#__next {
  position: relative;
  min-height: 100vh;
}
#__next {
  position: relative;
}
body {
  max-width: 1920px;
  margin-inline: auto;
  padding-inline: var(--gap-16);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
a,
li,
p,
span,
button,
label,
div,
time,
address {
  font-family: 'Manrope';
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
img {
  user-select: none;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
a,
li,
button {
  font-weight: bold;
}
#orientation-landscape {
  display: none;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column;
  row-gap: 20rem;
  padding-block-start: 5rem;
  margin-inline: auto;
  position: relative;
}

svg.liquid-filter {
  position: absolute;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  user-select: none;
  visibility: hidden;
  display: none;
}

@media (max-width: 960px) {
  :root {
    --body-padding: 1rem;
  }
}

@media screen and (max-width: 560px) {
  main {
    padding-block-start: 0;
  }
}
@media screen and (max-width: 960px) {
  main {
    row-gap: 12rem;
  }
}

/* Prevent to show content if orientation & height is valid */
@media only screen and (orientation: landscape) and (max-device-height: 780px) {
  main {
    margin-block-start: 5rem;
    row-gap: 10rem;
  }
}

/* apply back the draggable feature - exist only in Chromium and Safari */
/* :where([draggable='true']) {
  -webkit-user-drag: element;
} */
/* @import url('./common.css');
@import url('./buttons.css');
@import url('./stars.css');
@import url('./modals.css');
@import url('./navigation/navigation.css');
@import url('./hero-section/hero-section.css');
@import url('./how-we-work/how-we-work.css');
@import url('./what-we-offer/what-we-offer.css');
@import url('./our-little-story/our-little-story.css');
@import url('./get-in-touch/get-in-touch.css'); */
