[data-theme='dark'] .illustration {
  --ill-sun-moon-stars: var(--dark-yellow);
  --ill-nature-reflect: #7d6b43;
  --ill-front-nature: var(--dark-green-alt);
  --ill-front-field: #004973;
  --ill-back-nature-and-field: #083d62;
  --ill-tent-front: #5e340e;
  --ill-tent-front-open: #824e1f;
  --ill-tent-roof: #271504;
  --ill-tent-rope: #5f5555;
  --ill-soil-bottom: #4e4e4e;
  --ill-soil-top: var(--black);
  --ill-soil-middle1: #282828;
  --ill-soil-middle2: #323232;
  --ill-soil-middle3: #3d3d3d;
}

[data-theme='light'] .illustration {
  --ill-sun-moon-stars: var(--light-yellow);
  --ill-nature-reflect: #f1cb96;
  --ill-front-nature: var(--light-green-alt);
  --ill-back-nature-and-field: #57877c;
  --ill-tent-front: #9a5d26;
  --ill-tent-front-open: #c4854d;
  --ill-tent-roof: #4f3014;
  --ill-tent-rope: #969696;
  --ill-soil-bottom: #a5a5a5;
  --ill-soil-top: var(--grey-dark);
  --ill-soil-middle1: #5e5e5e;
  --ill-soil-middle2: #6d6d6d;
  --ill-soil-middle3: #7e7e7e;
}

.ill-sun-moon-stars {
  fill: var(--ill-sun-moon-stars);
}

/* NATURE STYLE */
.ill-front-nature {
  fill: var(--ill-front-nature);
}
.ill-field {
  fill: var(--ill-back-nature-and-field);
}
.front-gradient stop:first-of-type,
.back-gradient stop:first-of-type {
  stop-color: var(--ill-nature-reflect);
}
.front-gradient stop:last-of-type {
  stop-color: var(--ill-front-nature);
}
.back-gradient stop:last-of-type {
  stop-color: var(--ill-back-nature-and-field);
}

/* TENT STYLE */
.ill-tent-front {
  fill: var(--ill-tent-front);
}
.ill-tent-front-open {
  fill: var(--ill-tent-front-open);
}
.ill-tent-rope {
  fill: var(--ill-tent-rope);
}
.tent-roof-gradient {
  fill: var(--ill-tent-roof);
}

/* SOIL STLE */
.ill-soil-bottom {
  fill: var(--ill-soil-bottom);
}
.ill-soil-top {
  fill: var(--ill-soil-top);
}
.ill-soil-middle1 {
  fill: var(--ill-soil-middle1);
}
.ill-soil-middle2 {
  fill: var(--ill-soil-middle2);
}
.ill-soil-middle3 {
  fill: var(--ill-soil-middle3);
}

/* SUN, MOON, STARS STYLES */
[data-theme='dark'] .sun {
  display: none;
}

[data-theme='light'] :is(#moon, .night-star) {
  display: none;
}

/* SUN STYLES*/
.sun {
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  background-color: var(--ill-sun-moon-stars);
  z-index: -100;
}
.sun::before,
.sun::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: inherit;
}
.sun::before {
  animation: sun-before 2s ease-out infinite;
}

.sun::after {
  animation: sun-after 2.5s ease-out infinite;
  animation-delay: 0.2s;
}
.app__sun {
  inline-size: clamp(150px, 12vw, 215px);
  inset-inline-end: calc(-1 * clamp(35%, 5vw, 50%));
  inset-block-end: clamp(55%, 27vw, 80%);
}
.step__sun {
  inline-size: clamp(85px, 8vw, 120px);
  inset-inline-start: 50%;
  inset-block-end: 62%;
}

/* BIG CLOUDS STYLES */
.hero__cloud-left,
.hero__cloud-right {
  inset-block-end: 0;
  position: absolute;
  pointer-events: none;
}
.hero__cloud-left {
  --anim-name: cloud-left;
  --anim-name2: cloud-left-fly;
  grid-column: 2 / span 5;
  animation: var(--anim-name) 5s cubic-bezier(0, 1, 0.65, 1) forwards, var(--anim-name2) 80s linear 3s infinite;
}
.hero__cloud-right {
  --anim-name: cloud-right;
  --anim-name2: cloud-right-fly;
  grid-column: 9 / span 5;
  animation: var(--anim-name) 5s cubic-bezier(0, 1, 0.65, 1) forwards, var(--anim-name2) 70s linear 6s infinite;
}

/* SMALL CLOUDS STYLES */

.small-cloud {
  position: absolute;
  pointer-events: none;
}
.app__cloud-right {
  inline-size: clamp(150px, 15vw, 350px);
  inset-block-start: 10%;
  inset-inline-end: 10%;
  animation: cloud-left-fly 45s ease-in-out infinite;
  z-index: 15;
}
.app__cloud-left {
  inline-size: clamp(200px, 19vw, 450px);
  inset-block-start: 2%;
  inset-inline-start: 0;
  animation: cloud-right-fly 50s linear infinite;
  z-index: 15;
}

.step__cloud-left {
  inline-size: clamp(120px, 19vw, 250px);
  inset-block-end: clamp(70%, 39vw, 85%);
  inset-inline-start: 10%;
  animation: cloud-right-fly 50s linear infinite;
  z-index: -1;
}

/* STARS STYLES */
.night-star {
  --width-star: 23px;
  position: absolute;
  inline-size: var(--width-star);
  z-index: -10;
}
.app-star1 {
  inset-inline-start: 1%;
  inset-block-start: 20%;
  transform: rotate(-15deg);
  animation: star 4s ease-in-out infinite;
}
.app-star2 {
  --width-star: 27px;
  inset-inline-start: 30%;
  inset-block-start: 1%;
  transform: rotate(-45deg);
  animation: star 5s ease-in-out infinite;
  animation-delay: 1s;
}
.app-star3 {
  --width-star: 20px;
  inset-inline-start: 23%;
  inset-block-start: 25%;
  animation: star 3s ease-in-out infinite;
  animation-delay: 1s;
}
.app-star4 {
  inset-inline-start: 55%;
  inset-block-start: 6%;
  animation: star 4s ease-in-out infinite;
  animation-delay: 1.2s;
}
.app-star5 {
  --width-star: 16px;
  inset-inline-end: 10%;
  inset-block-start: 30%;
  animation: star 3s ease-in-out infinite;
}
.app-star6 {
  inset-inline-end: 5%;
  inset-block-start: 5%;
  transform: rotate(-60deg);
  animation: star 4s ease-in-out infinite;
  animation-delay: 1.5s;
}

.step-star1 {
  inset-inline-start: clamp(10%, 5vw, 20%);
  inset-block-end: clamp(65%, 5vw, 80%);
  transform: rotate(-15deg);
  animation: star 4s ease-in-out infinite;
}
.step-star2 {
  --width-star: 27px;
  inset-inline-start: 40%;
  inset-block-end: clamp(80%, 5vw, 100%);
  transform: rotate(-45deg);
  animation: star 5s ease-in-out infinite;
  animation-delay: 1s;
}
.step-star3 {
  --width-star: 20px;
  inset-inline-start: 45%;
  inset-block-end: clamp(65%, 5vw, 75%);
  animation: star 3s ease-in-out infinite;
  animation-delay: 1s;
}
.step-star4 {
  inset-inline-end: clamp(5%, 3vw, 15%);
  inset-block-end: clamp(75%, 5vw, 85%);
  animation: star 4s ease-in-out infinite;
  animation-delay: 1.2s;
}
.step-star5 {
  --width-star: 16px;
  inset-inline-end: 35%;
  inset-block-end: clamp(75%, 48vw, 90%);
  animation: star 3s ease-in-out infinite;
  animation-delay: 1.2s;
}

/* ANIMATIONS */
@keyframes sun-before {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sun-after {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes cloud-left {
  from {
    transform: translateX(25vw) scale(0.5);
  }
  to {
    transform: translateX(-200px) scale(1);
  }
}
@keyframes cloud-left-mob {
  from {
    transform: translateX(10vw) scale(0.5);
  }
  to {
    transform: translateX(-300px) scale(1);
  }
}
@keyframes cloud-right {
  from {
    transform: translateX(-25vw) scale(0.5);
  }
  to {
    transform: translateX(200px) scale(1);
  }
}
@keyframes cloud-right-mob {
  from {
    transform: translateX(-10vw) scale(0.5);
  }
  to {
    transform: translateX(100px) scale(1);
  }
}
@keyframes cloud-left-fly {
  50% {
    transform: translateX(-50px);
  }
}
@keyframes cloud-right-fly {
  50% {
    transform: translateX(50px);
  }
}

@keyframes star {
  50% {
    transform: scale(0.5) rotate(-30deg);
    opacity: 0.6;
  }
}

/* SCREEN SIZES */
@media screen and (max-width: 1600px) {
  .hero__cloud-left {
    max-width: clamp(400px, 30vw, 500px);
  }
}
@media screen and (max-width: 1366px) {
  .hero__cloud-right {
    grid-column: 7 / span 7;
    max-width: clamp(300px, 30vw, 500px);
    max-width: 500px;
  }
}

@media (max-width: 960px) {
  .app__sun {
    inset-block-end: clamp(55%, 45vw, 80%);
  }

  .step__sun {
    inline-size: clamp(85px, 20vw, 120px);
  }

  .hero__cloud-left,
  .hero__cloud-right {
    grid-column: 1 / -1;
    max-width: 500px;
    position: relative;
  }
  .hero__cloud-left {
    --anim-name: cloud-left-mob;
    grid-row: 5;
    margin-block-start: var(--gap-32);
  }
  .hero__cloud-right {
    --anim-name: cloud-right-mob;
    grid-row: 7;
    margin-block-start: calc(-1 * var(--gap-64));
  }

  .app__cloud-right {
    inline-size: clamp(150px, 25vw, 350px);
    inset-block-start: calc(-1 * clamp(15%, 15vw, 0%));
    inset-inline-end: 10%;
  }
  .app__cloud-left {
    inline-size: clamp(200px, 29vw, 450px);
    inset-block-start: calc(-1 * clamp(10%, 15vw, 5%));
    inset-inline-start: 0;
  }

  .step__cloud-left {
    inline-size: clamp(150px, 35vw, 250px);
    inset-block-end: clamp(75%, 80vw, 85%);
  }
}

@media screen and (max-width: 559px) {
  .night-star {
    --width-star: 16px;
  }
  .app-star1 {
    inset-inline-start: 16%;
    inset-block-start: -6%;
  }
  .app-star2 {
    inset-inline-start: 30%;
    inset-block-start: -30%;
  }
  .app-star3 {
    inset-inline-start: 23%;
    inset-block-start: 25%;
  }
  .app-star4 {
    --width-star: 13px;
    inset-inline-start: 65%;
    inset-block-start: -25%;
  }
  .app-star5 {
    --width-star: 14px;
    inset-inline-end: 22%;
    inset-block-start: 30%;
  }
  .app-star6 {
    --width-star: 10px;
    inset-inline-end: 18%;
    inset-block-start: 0%;
  }
}
