/* MARKDOWN STYLES */
.markdown {
  line-height: 1.6;
}

.markdown p:nth-of-type(n + 2) {
  padding-block-start: var(--gap-16);
}
.markdown blockquote {
  position: relative;
}
.markdown blockquote p::before,
.markdown blockquote p::after {
  line-height: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.markdown blockquote p::before {
  content: '\201C';
}
.markdown blockquote p::after {
  content: '\201D';
}
