/* MARKDOWN STYLES */
.markdown {
  line-height: 1.6;
}
.markdown a {
  color: var(--primary-dark);
  font-weight: bold;
  text-underline-offset: 2px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  transition: all var(--transition-03) ease-in-out;
}
.markdown a:hover {
  text-underline-offset: 6px;
  text-decoration-color: transparent;
}

.markdown p:nth-of-type(n + 2) {
  padding-block-start: var(--gap-16);
}
.markdown blockquote {
  position: relative;
}
.markdown blockquote p::before,
.markdown blockquote p::after {
  line-height: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.markdown blockquote p::before {
  content: '\201C';
}
.markdown blockquote p::after {
  content: '\201D';
}
