:root {
  color-scheme: dark light;
  --primary: #83b4b0; /* cambridge-blue */
  --primary-dark: #165f6c; /* midnight-green */

  /*LIGHT THEME*/
  --light-yellow: #eba91f; /* harvest-gold */
  --light-yellow-alt: #bd7331;
  --light-green: #79b6a8; /* cambridge-blue */
  --light-green-alt: #4c7a70; /* hooker-green */
  --light-red: #efbda0; /* apricot */
  --light-red-alt: #dc5c1d; /* flame */
  --light-blue: #b3e1eb;
  --light-blue-alt: #324c76;
  --light-bg: #f3e3d3;
  --light-bg-alt: #fcf3ee;
  --snow: #fff3e5;

  /*DARK THEME*/
  --dark-yellow: #fdd887;
  --dark-yellow-alt: #bd7331;
  --dark-green: #0f496a;
  --dark-green-alt: #013451;
  --dark-red: #f76148;
  --dark-red-alt: #ab706a;
  --dark-blue: #3f87b8;
  --dark-blue-alt: #012949;
  --dark-blue-cloud: #175e84;
  --dark-bg: #002038;
  --dark-bg-alt: #0f3d61;

  --white: #ffffff;
  --white-grey: #f5f5f5;
  --grey-light: #dedede;
  --grey: #b5b5b5;
  --grey-dark: #474747;
  --black: #000000;

  /* For Alfa colors */
  --alfa-primary: 230 98% 60%;
  --alfa-secondary: 37 100% 60%;
  --alfa-success: 119 71% 60%;
  --alfa-error: 0 71% 60%;

  /* Transition duration */
  --transition-01: 0.1s; /* when you click the button */
  --transition-03: 0.3s; /* Global transition duration*/
  --transition-05: 0.5s; /* Especial */

  /* CORNER SIZES */
  --border-corner-4: 0.25rem;
  --border-corner-6: 0.375rem;
  --border-corner-8: 0.5rem;
  --border-corner-12: 0.75rem;
  --border-corner-16: 1rem;
  --border-corner-24: 1.5rem;
  --border-corner-36: 2.25rem;

  /* SMARTPHONE SIZE */
  --phone-width-360: 360px;
  --phone-width-320: 320px;

  /* GAP SIZES */
  --gap-4: 0.25rem;
  --gap-6: 0.375rem;
  --gap-8: 0.5rem;
  --gap-12: 0.75rem;
  --gap-14: 0.875rem;
  --gap-16: 1rem;
  --gap-18: 1.125rem;
  --gap-24: 1.5rem;
  --gap-32: 2rem;
  --gap-36: 2.25rem;
  --gap-48: 3rem;
  --gap-64: 4rem;
  --gap-80: 5rem;
  --gap-128: 8rem;
  --gap-152: 9.5rem;
  --gap-176: 11rem;
  --gap-192: 12rem;
  --gap-208: 13rem;
  --gap-224: 14rem;
  --gap-240: 15rem;

  /* FONT SIZES */
  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-24: 1.5rem;
  --font-32: 2rem;
  --font-36: 2.25rem;
  --font-48: 3rem;
  --font-56: 3.5rem;
  --font-64: 4rem;
  --font-96: 6rem;

  /* DOM ELEMENT SIZES */
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-96: 6rem;
}
