:root {
  color-scheme: dark light;
  --primary: #83b4b0; /* cambridge-blue */
  --primary-dark: #165f6c; /* midnight-green */
  --secondary: #eba91f; /* harvest-gold */
  --secondary-dark: #bd7331; /* cooper */
  --success: #79b6a8; /* cambridge-blue */
  --success-dark: #4c7a70; /* hooker-green */
  --error: #efbda0; /* apricot */
  --error-dark: #dc5c1d; /* flame */
  --non-photo-blue: #b3e1eb;
  --almond: hsl(31, 58%, 89%);
  --seashell: hsl(20, 67%, 96%);
  --snow: hsl(31, 100%, 95%);

  --white: hsl(0, 0%, 100%);
  --white-grey: hsl(0, 0%, 96%);
  --grey-light: hsl(0, 0%, 87%);
  --grey: hsl(0, 0%, 71%);
  --grey-dark: #474747;
  --black: hsl(0, 0%, 0%);

  /* For Alfa colors */
  --alfa-primary: 230 98% 60%;
  --alfa-secondary: 37 100% 60%;
  --alfa-success: 119 71% 60%;
  --alfa-error: 0 71% 60%;

  /* Transition duration */
  --transition-01: 0.1s; /* when you click the button */
  --transition-03: 0.3s; /* Global transition duration*/
  --transition-05: 0.5s; /* Especial */

  /* CORNER SIZES */
  --border-corner-4: 0.25rem;
  --border-corner-6: 0.375rem;
  --border-corner-8: 0.5rem;
  --border-corner-12: 0.75rem;
  --border-corner-16: 1rem;
  --border-corner-24: 1.5rem;
  --border-corner-36: 2.25rem;

  /* GAP SIZES */
  --gap-8: 0.5rem;
  --gap-12: 0.75rem;
  --gap-14: 0.875rem;
  --gap-16: 1rem;
  --gap-18: 1.125rem;
  --gap-24: 1.5rem;
  --gap-32: 2rem;
  --gap-36: 2.25rem;
  --gap-48: 3rem;
  --gap-64: 4rem;
  --gap-80: 5rem;
  --gap-128: 8rem;
  --gap-152: 9.5rem;
  --gap-176: 11rem;

  /* FONT SIZES */
  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-24: 1.5rem;
  --font-32: 2rem;
  --font-36: 2.25rem;
  --font-48: 3rem;
  --font-56: 3.5rem;
  --font-64: 4rem;
  --font-96: 6rem;

  /* DOM ELEMENT SIZES */
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
}
