.hero__cloud-left,
.hero__cloud-right {
  inset-block-end: 0;
  position: absolute;
}
.hero__cloud-left {
  grid-column: 2 / span 5;
  animation: cloud-left 5s cubic-bezier(0, 1, 0.65, 1) forwards, cloud-left-fly 60s linear 3s infinite;
}
.hero__cloud-right {
  grid-column: 9 / span 5;
  animation: cloud-right 5s cubic-bezier(0, 1, 0.65, 1) forwards, cloud-right-fly 70s linear 10s infinite;
}

@keyframes cloud-left {
  from {
    transform: translateX(25vw) scale(0.5);
  }
  to {
    transform: translateX(-200px) scale(1);
  }
}
@keyframes cloud-left-mob {
  from {
    transform: translateX(10vw) scale(0.5);
  }
  to {
    transform: translateX(-300px) scale(1);
  }
}
@keyframes cloud-right {
  from {
    transform: translateX(-25vw) scale(0.5);
  }
  to {
    transform: translateX(200px) scale(1);
  }
}
@keyframes cloud-right-mob {
  from {
    transform: translateX(-10vw) scale(0.5);
  }
  to {
    transform: translateX(100px) scale(1);
  }
}
@keyframes cloud-left-fly {
  50% {
    transform: translateX(-50px);
  }
}
@keyframes cloud-right-fly {
  50% {
    transform: translateX(50px);
  }
}

@media screen and (max-width: 1366px) {
  .hero__cloud-right {
    grid-column: 7 / span 7;
  }
}

@media (max-width: 960px) {
  .hero__cloud-left,
  .hero__cloud-right {
    grid-column: 1 / -1;
    max-width: 500px;
    position: relative;
  }
  .hero__cloud-left {
    grid-row: 5;
    margin-block-start: var(--gap-32);
    animation: cloud-left-fly 60s ease-in-out 3s infinite, cloud-left-mob 5s cubic-bezier(0, 1, 0.65, 1) forwards;
  }
  .hero__cloud-right {
    grid-row: 7;
    margin-block-start: calc(-1 * var(--gap-64));
    animation: cloud-right-fly 70s ease-in-out 10s infinite, cloud-right-mob 5s cubic-bezier(0, 1, 0.65, 1) forwards;
  }
}

@media screen and (max-width: 559px) {
  .hero {
    padding-block: var(--gap-80) var(--gap-128);
  }
}

@import url(./left-side.css);
