.hero-section {
  width: 100%;
  padding-block: var(--gap-128);
  justify-items: center;
  position: relative;
}

/* SVG ELEMENTS */
.hero-section__span-circle,
.hero-section__puzzle-yellow {
  grid-column: 1 / -1;
  grid-row: 4;
  justify-self: start;
  position: relative;
  margin-block-start: 7rem;
}

.hero-section__span-circle {
  width: 140px;
  aspect-ratio: 1;
  background-color: var(--secondary);
  border-radius: 50%;
  z-index: -200;
}
.hero-section__span-circle-lines {
  top: -2rem;
  left: -2rem;
  stroke-width: 0.5px;
  transform: scale(1.2) rotateZ(110deg);
}

.hero-section__puzzle-right-cross {
  top: 25rem;
  right: 1rem;
}
.hero-section__puzzle-yellow {
  display: none;
}

@media screen and (max-width: 1800px) {
  .hero-section__puzzle-right-cross {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .hero-section {
    contain: paint;
  }
  .hero-section__span-circle,
  .hero-section__span-circle-lines {
    display: none;
  }

  .hero-section__puzzle-yellow {
    display: block;
    width: clamp(7rem, 38vw, 15rem);
    bottom: 0rem;
    left: -3rem;
  }
}

@import url(./left-side.css);
@import url(./right-side.css);
