.hero-section {
  width: 100%;
  padding-block: var(--gap-128);
  justify-items: center;
  position: relative;
}

/* SVG ELEMENTS */
@media screen and (max-width: 960px) {
  .hero-section {
    contain: paint;
  }
}
@media screen and (max-width: 559px) {
  .hero-section {
    padding-block: var(--gap-80) var(--gap-128);
  }
}

@import url(./left-side.css);
@import url(./right-side.css);
