.hero__title,
.hero__desc,
.hero__survey,
.hero__action {
  grid-column: 3 / 7;
  position: relative;
  justify-self: start;
  align-self: flex-end;
}

.hero__title {
  display: flex;
  flex-direction: column;
}
.title__strong {
  display: block;
  position: relative;
  padding-block-end: var(--gap-12);
  text-transform: uppercase;
  font-size: clamp(var(--font-48), 8vw, var(--font-96));
}
.title__strong::after,
.title__strong::before {
  content: attr(data-name);
  position: absolute;
  inset: 0;
  text-transform: inherit;
  z-index: -1;
}
.title__strong::after {
  color: var(--bg-after);
  transform: translate(4px, -4px);
}
.title__strong::before {
  color: var(--bg-before);
  transform: translate(-4px, 4px);
}
.title__span {
  font-size: clamp(var(--font-24), 3.5vw, var(--font-48));
}

.hero__desc {
  height: fit-content;
  padding-block: var(--gap-48) var(--gap-64);
  font-size: clamp(var(--font-24), 2.2vw, var(--font-32));
  line-height: 1.6;
}

.hero__survey {
  padding: 10px;
  background-color: var(--bg-after);
  border-radius: var(--border-corner-6);
  color: var(--txt-color);
  font-weight: bold;
  font-size: var(--font-18);
}
.hero__action {
  margin-block-start: var(--gap-24);
}

@media screen and (max-width: 1366px) {
  .hero__title,
  .hero__desc,
  .hero__survey,
  .hero__action {
    grid-column: 3 / 8;
  }
}

@media screen and (max-width: 960px) {
  .hero__title,
  .hero__desc,
  .hero__survey,
  .hero__action {
    grid-column: 2 / 8;
    margin-inline: auto;
  }
  .title__strong {
    font-size: clamp(var(--font-64), 12vw, var(--font-96));
  }

  .title__span {
    font-size: clamp(var(--font-32), 5vw, var(--font-48));
    text-align: center;
  }

  .hero__desc {
    font-size: clamp(var(--font-18), 3vw, var(--font-24));
  }
}

@media screen and (max-width: 559px) {
  .hero__title,
  .hero__desc,
  .hero__action {
    grid-column: 2 / 8;
  }
}

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 300px) {
}
