.hero__puzzle {
  grid-column: 8 / 15;
  grid-row: 1 / 5;
  padding-inline-end: var(--gap-16);
  position: relative;
}

.hero__puzzle-blue {
  display: none;
}

/* SVG ELEMENTS */
.hero__grid-puzzle {
  top: 11rem;
  left: 11rem;
  transform: translate(-30px, 30px);
}

.hero__puzzle-bottom-cross {
  bottom: -5rem;
  left: 8rem;
}

.hero__puzzle-top-rect {
  top: -7rem;
  right: 8rem;
}

.hero__puzzle-bottom-triangle {
  bottom: -10rem;
  right: 1.5rem;
}
.hero__puzzle-bottom-triangle-lines {
  bottom: -11rem;
  right: 1.4rem;
  z-index: -200;
}

@media screen and (max-width: 960px) {
  .hero__puzzle {
    display: none;
  }

  .hero__puzzle-blue {
    width: clamp(7rem, 45vw, 15rem);
    aspect-ratio: 1;
    display: block;
    grid-column: 1 / -1;
    position: absolute;
    top: 0;
    right: -5rem;
  }

  .hero__puzzle-bottom-cross,
  .hero__puzzle-top-rect,
  .hero__puzzle-bottom-triangle,
  .hero__puzzle-bottom-triangle-lines {
    display: none;
  }
}
@media screen and (max-width: 410px) {
}

@media screen and (max-width: 300px) {
  .hero__puzzle-blue {
    right: -2rem;
  }
}
