.phone {
  inline-size: 245px;
  aspect-ratio: 1 / 2.1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 4px solid var(--black);
  border-radius: var(--border-corner-36);
  box-shadow: 10px 10px 0 var(--black);
}

.phone img {
  border-radius: 2rem;
}

.phone-hero {
  grid-column: 8 / -2;
  grid-row: 1 / span 4;
  align-self: center;
}

.phone__mono-eyebrow {
  block-size: 21px;
  position: absolute;
  inset-block-start: -3px;
  inset-inline: 30%;
  background-color: var(--black);
  border-bottom-left-radius: var(--border-corner-8);
  border-bottom-right-radius: var(--border-corner-8);
  z-index: 100;
}
.phone__mono-eyebrow::after,
.phone__mono-eyebrow::before {
  content: '';
  inline-size: 8px;
  aspect-ratio: 1;
  position: absolute;
  inset-block-start: 3px;
  background-image: url('/images/svg/phone-yeybrow-corner.svg');
  z-index: -1;
}
.phone__mono-eyebrow::after {
  inset-inline-start: -7px;
}
.phone__mono-eyebrow::before {
  inset-inline-end: -7px;
  transform: rotateZ(-90deg);
}
.mono-eyebrow__camera,
.mono-eyebrow__speaker {
  position: absolute;
  inset-block: 0;
  margin-block: auto;
  border-radius: 5px;
  background-color: var(--grey-dark);
}
.mono-eyebrow__camera {
  inline-size: 9px;
  aspect-ratio: 1;
  inset-inline-start: 12px;
}
.mono-eyebrow__speaker {
  inline-size: 3rem;
  height: 4px;
  right: 12px;
}

.phone__control-btns {
  --btn-height: 40px;
  inline-size: 3px;
  height: var(--btn-height);
  position: absolute;
  inset-block-start: 25%;
  inset-inline-start: -6px;
  border-radius: 3px 0 0 3px;
  background-color: var(--black);
  box-shadow: 0 60px 0 var(--black);
}
.phone__control-btns::after {
  content: '';
  inline-size: inherit;
  height: calc(var(--btn-height) / 2);
  position: absolute;
  inset-block-start: -50px;
  border-radius: inherit;
  background-color: inherit;
}

.phone__usb-port {
  inline-size: 2rem;
  block-size: 4px;
  position: absolute;
  border-radius: 5px;
  inset-block-end: -9px;
  inset-inline: 0;
  margin-inline: auto;
  background-color: var(--grey-dark);
  z-index: 10;
}

/* SVG SOLUTION */

/* .phone {
  width: 245px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: var(--border-corner-36);
}
.phone svg {
  position: absolute;
  user-select: none;
}
.shadow {
  display: flex;
  --phone-shadow-gap: 4px;
  width: calc(100% - var(--phone-shadow-gap));
  height: calc(100% - var(--phone-shadow-gap));
  position: absolute;
  top: 0;
  inset-block-start: 3px;
  border-radius: var(--border-corner-36);
  box-shadow: 10px 10px 0 var(--black);
  overflow: hidden;
  z-index: -1;
}
.shadow img {
  width: 100%;
  object-fit: cover;
} */
