.phone {
  --phone-width: 360px;
  justify-self: center;
  inline-size: var(--phone-width);
  aspect-ratio: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 10px solid var(--black);
  border-radius: var(--border-corner-36);
}

.phone::after,
.phone::before {
  content: '';
  position: absolute;
  inset: -0.5rem;
  border-radius: inherit;
}
.phone::before {
  background-color: var(--bg-before);
  transform-origin: right bottom;
  animation: phone-before 2s cubic-bezier(0, 1.1, 0.5, 1) forwards;
  z-index: -1;
}
.phone::after {
  transform-origin: left bottom;
  animation: phone-after 2s cubic-bezier(0, 1.1, 0.5, 1) forwards;
  background-color: var(--bg-after);
  z-index: -2;
}
@keyframes phone-before {
  0% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(-1rem) rotate(5deg);
  }
}
@keyframes phone-after {
  0% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(-3rem) rotate(-5deg);
  }
}

.phone__content {
  overflow: hidden;
  border-radius: var(--border-corner-36);
  position: absolute;
  inset: -4px -4px;
  z-index: -1;
}
.phone__content img {
  inline-size: var(--phone-width);
  aspect-ratio: 1 / 2.1;
  object-fit: cover;
}

.phone-hero {
  grid-column: 8 / -2;
  grid-row: 1 / span 5;
  align-self: center;
}

.phone__mono-eyebrow {
  block-size: 28px;
  inline-size: var(--size-96);
  position: absolute;
  inset-block-start: var(--gap-8);
  background-color: var(--black);
  border-radius: var(--border-corner-36);
  z-index: 10;
}

.phone__top-screen {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  inset-block-start: var(--gap-12);
}
.phone__left-clock {
  color: var(--txt-color);
  font-weight: bold;
  margin-inline-start: var(--gap-16);
}
.phone__right-icons {
  width: 67px;
  height: 11px;
  margin-inline-end: var(--gap-16);
}

.phone__control-btns {
  --btn-height: 60px;
  inline-size: 5px;
  height: var(--btn-height);
  position: absolute;
  inset-block-start: 25%;
  inset-inline-end: -15px;
  border-radius: 0 5px 5px 0;
  background-color: var(--black);
  box-shadow: 0 80px 0 var(--black);
}
.phone__control-btns::after {
  content: '';
  inline-size: inherit;
  height: calc(var(--btn-height) / 2);
  position: absolute;
  inset-block-start: -50px;
  border-radius: inherit;
  background-color: inherit;
}

.phone__visik-on-cloud {
  inline-size: 230px;
  position: absolute;
  inset-block-start: -10%;
  inset-inline-end: -45%;
  animation: visit-from-mob 2s cubic-bezier(0, 1.1, 0.5, 1) forwards, visit-fly 8s ease-in-out infinite;
  z-index: 100;
}

@keyframes visit-fly {
  50% {
    transform: translateY(1rem);
  }
}
@keyframes visit-from-mob {
  0% {
    transform: translate(-80%, 100%) scale(0);
  }
  100% {
    transform: translate(0) scale(1);
  }
}
