.survey__grid-survey {
  inset-block-start: 5rem;
  inset-inline-start: 45%;
}
.survey__form {
  grid-column: 1 / -1;
  /* display: flex; */
  /* flex-direction: column; */
  row-gap: var(--gap-176);
}

.question {
  grid-column: 1 / -1;
}

.survey-form__title,
.survey-form__txt,
.survey-form__radio-buttons,
.survey-form__mark,
.survey-form__answer-label,
.survey-form__answer {
  grid-column: 3 / 8;
}

.survey-form__mark,
.survey-form__answer-label {
  font-size: var(--font-16);
}

.survey-form__title {
  font-size: var(--font-36);
}

.survey-form__txt {
  font-size: var(--font-20);
  padding-block: var(--gap-32) var(--gap-48);
}

.survey-form__radio-buttons {
  display: flex;
  column-gap: var(--gap-36);
  position: relative;
}

.q-button {
  position: relative;
  display: flex;
}

.survey-form__btn-no,
.survey-form__btn-yes {
  font-weight: bold;
}

input[name*='answer-selected'] {
  appearance: none;
  position: absolute;
  cursor: pointer;
  inset: 0;
  z-index: 50;
}
input[name*='answer-selected']:checked + .button {
  transform: translate(0px, 3px);
  filter: drop-shadow(4px 4px 0px var(--btn-shadow));
}

input[name*='answer-selected']:not(:checked) + .survey-form__btn-no,
input[name*='answer-selected']:not(:checked) + .survey-form__btn-yes {
  background-color: var(--bg-color);
}

.survey-form__answer-label {
  padding-block: var(--gap-48) var(--gap-12);
}
.survey-form__answer {
  max-inline-size: 100%;
  min-inline-size: 100%;
  padding: var(--gap-12);
  border-radius: var(--border-corner-4);
  background-color: var(--bg-color);
  font-size: var(--font-20);
}
.survey-form__answer::placeholder {
  color: var(--grey);
}

.survey__send-button {
  inline-size: max-content;
  grid-column: 3 / -2;
}
